<title>@ViewData["Title"]</title>

<body>
    <style>
        body {
            background-image: url('https://ychef.files.bbci.co.uk/976x549/p07h2zhs.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        h1, p {
            color: white;
            text-align: center;
            padding: 20px;
        }
    </style>

    <h1>@ViewData["Title"]</h1>
    <p>
        Fight cluba hoşgeldiniz, dövüş kulübünün 1. kuralı:
        dövüş kulübünden kimseye bahsetmemektir.
        dövüş kulübünün 2. kuralı:
        dövüş kulübünden kimseye bahsetmemektir.
    </p>
</body>
</html>